* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c3e50, #3498db); /* Gradiente de azul escuro para azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chart-container {
    width: calc(100% - 40px);
    max-width: 600px; /* Limita a largura para a área de conteúdo */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.chart-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.file-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

label.file-label {
    font-size: 18px;
    font-weight: bold;
    color: #6c63ff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #6c63ff;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

label.file-label i {
    font-size: 24px;
}

label.file-label:hover {
    background-color: #f1f1f1;
}

input[type="file"] {
    display: none;
}

#fileMessage {
    font-size: 18px;
    color: #333;
}
